
<div class="container first">


  <div class="row">
    <div class="col-lg-4"></div>
      <div class="col-lg-1 col-sm-1 col-xs-3 logo"><img src="../assets/trekking.png" height="65" width="50"></div>
      <div class="col-lg-7 col-sm-11 col-xs-9 name">
        <h3><i>The mountain addicted engineer</i></h3>
      </div>

    </div>
  </div>



<ul class="nav nav-tabs">
  <li>
    <a routerLink="/">HOME</a>
  </li>
  <li>
    <a routerLink="../traveltips/">Travel Tips</a>
  </li>
  <li>
    <a routerLink="../gallary/">Gallary</a>
  </li>
  <li>
    <a routerLink="/aboutus">About Us</a>
  </li>
  <li>
    <a routerLink="../travelplanning/">Travel Planning</a>
  </li>
  <li>
    <a routerLink="contactsus/">Contacts Us</a>
  </li>
  <li>
    <a routerLink="/login">Log In</a>
  </li>

</ul>

<br>
<br>

<div class="row">
  <div class="col-lg-6">this is testing</div>
  <div class="col-lg-6">{{ date }}</div>
</div>

<router-outlet></router-outlet>

